/* setting for menu.html */

#menu{
  width: 100vw;
  height: auto;

}
body {
  background-color:black;
}


.row {
  max-width: 1140px;
  margin: 0 auto;
}
/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color:white;
  font-size: 120%;
  font-family:sans-serif;
  
  
}
/*footer*/

#menu-footer{
  color:white;
  margin-left:45%;
  margin-top:0%;
  
}